{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} {% translate 'Password change' %} {% endblock %}

{% block content %}
    <section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                {#					<h2 class="heading-section">Login #01</h2>#}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="fa fa-user-o"></span>
                    </div>
                    <h3 class="text-center mb-4">{% translate 'Password change' %}</h3>
                    <form action="#" id="login_form" class="login" method="post" value="{{ csrf_token }}">
                        <div class="form-group d-flex">
                            <input id="new_password1" type="password" class="form-control rounded-left"
                                   placeholder="{% translate 'New Password' %}" required>
                        </div>
                        <div class="form-group d-flex">
                            <input id="new_password2" type="password" class="form-control rounded-left"
                                   placeholder="{% translate 'New Password confirm' %}" required>
                        </div>
                        <div class="form-group">
                            <button id="login-submit" type="submit"
                                    class="form-control btn btn-primary rounded submit px-3">{% translate 'Submit' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
    <a id="HOME" href="{% url 'products:show_products' %}" type=""> </a>
{% endblock %}

{% block CSS %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/login/style.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'js/login/jquery.min.js' %}"></script>
    <script src="{% static 'js/login/popper.js' %}"></script>
    <script src="{% static 'js/login/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/login/main.js' %}"></script>
    <script>
    // password change
    $("#login_form").submit(function (e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.
        let form = $(this);
        let url = form.attr('action');
        let csrf = form.attr('value');
        console.log('csrf');
        let new_password1 = $('#new_password1').val()
        let new_password2 = $('#new_password2').val()

        $.ajax({
            type: "POST",
            dataType: "json",
            data: {
                'csrfmiddlewaretoken': csrf,
                'new_password1': new_password1,
                'new_password2': new_password2
            },
            url: "/api/rest-auth/password/change/",
            success: function () {
                    let href = $('#HOME').attr('href')
                    window.location = href
                    // window.location = "http://127.0.0.1:8000/member/login/"
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText)
                    // console.log(xhr.status)
                    // console.log(ajaxOptions)
                    // console.log(thrownError)
                }
        });
    });

</script>
{% endblock %}