{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} {% translate 'Password reset' %} {% endblock %}

{% block pagenaiton_nav-menu %}
    <div style="margin-top: 240px;margin-bottom: 240px;">
        <li class="active ">
            <a href="{% url 'home' %}">
                <i class="bx bx-home"></i> <span>{% translate 'Home' %}</span>
            </a>
        </li>
    </div>
{% endblock %}

{% block content %}
    <section class="ftco-section min-vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">

                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="card  p-4 p-md-5 " style="margin-top: 15vh">
                        <div class="icon d-flex align-items-center justify-content-center mb-2">
                            <img width="150px" src="{% static 'img/reset-password.jpeg' %}">
                        </div>
                        <h3 class="text-center mb-4">{% translate 'Password reset' %}</h3>
                        <form action="#" id="login_form" class="login" method="post" value="{{ csrf_token }}">
                            <div class="text-center">
                                    {% translate 'Please enter your email to receive the authentication code' %}
                            </div>
                            <div class="form-group d-flex">
                                <input id="email" type="email" class="form-control button"
                                       placeholder="{% translate 'Email' %}" required>
                            </div>
                            <div class="form-group">
                                <button id="login-submit" type="submit"
                                        class="form-control btn btn-primary button submit px-3">{% translate 'Send' %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a id="HOME" href="{% url 'home' %}" type=""> </a>
{% endblock %}

{% block CSS %}
    <link rel="stylesheet" href="{% static 'css/login/style.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'js/login/jquery.min.js' %}"></script>
    <script src="{% static 'js/login/popper.js' %}"></script>
    <script src="{% static 'js/login/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/login/main.js' %}"></script>
    <script>
        // password change
        $("#login_form").submit(function (e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            let form = $(this);
            let url = form.attr('action');
            let csrf = form.attr('value');
            console.log('csrf');
            let email = $('#email').val()

            $.ajax({
                type: "POST",
                dataType: "json",
                data: {
                    'csrfmiddlewaretoken': csrf,
                    'email': email
                },
                url: "/api/password/reset/",
                success: function () {
                    let href = $('#HOME').attr('href')
                    window.location = href
                    // window.location = "http://127.0.0.1:8000/member/login/"
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText)
                    // console.log(xhr.status)
                    // console.log(ajaxOptions)
                    // console.log(thrownError)
                }
            });
        });

    </script>
{% endblock %}




{#{% extends 'base.html' %}#}
{#{% load static %}#}
{##}
{#{% block title %} Password reset {% endblock %}#}
{##}
{#{% block content %}#}
{#    <section class="ftco-section">#}
{#        <div class="container">#}
{#            <div class="row justify-content-center">#}
{#                <div class="col-md-6 text-center mb-5">#}
{#					<h2 class="heading-section">Login #01</h2>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row justify-content-center">#}
{#                <div class="col-md-7 col-lg-5">#}
{#                    <div class="login-wrap p-4 p-md-5">#}
{#                        <div class="icon d-flex align-items-center justify-content-center">#}
{#                            <span class="fa fa-user-o"></span>#}
{#                        </div>#}
{#                        <h3 class="text-center mb-4">Password reset</h3>#}
{#                        <form action="#" id="register_form" class="login" value="{{ csrf_token }}">#}
{#                            <div class="form-group d-flex">#}
{#                                <input id="email" type="email" class="form-control rounded-left" placeholder="Email"#}
{#                                       required>#}
{#                            </div>#}
{##}
{#                            <div class="form-group">#}
{#                                <button id="register-submit" type="submit"#}
{#                                        class="form-control btn btn-primary rounded submit px-3">Submit#}
{#                                </button>#}
{#                            </div>#}
{##}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <a id="HOME" href="{% url 'products:show_products' %}" type=""> </a>#}
{#{% endblock %}#}
{##}
{#{% block CSS %}#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">#}
{#    <link rel="stylesheet" href="{% static 'css/login/style.css' %}">#}
{#{% endblock %}#}
{##}
{#{% block script %}#}
{#    <script src="{% static 'js/login/jquery.min.js' %}"></script>#}
{#    <script src="{% static 'js/login/popper.js' %}"></script>#}
{#    <script src="{% static 'js/login/bootstrap.min.js' %}"></script>#}
{#    <script src="{% static 'js/login/main.js' %}"></script>#}
{#    <script>#}
{#        // registration#}
{#        $("#register_form").submit(function (e) {#}
{#            e.preventDefault();#}
{##}
{#            let form = $(this);#}
{#            let url = form.attr('action');#}
{#            let csrf = form.attr('value');#}
{#            let email = $('#email').val()#}
{#            $.ajax({#}
{#                type: "POST",#}
{#                dataType: "json",#}
{#                data: {#}
{#                    'csrfmiddlewaretoken': csrf,#}
{#                    'email': email#}
{#                },#}
{#                url: "/api/rest-auth/password/reset/",#}
{#                success: function () {#}
{#                    let href = $('#HOME').attr('href')#}
{#                    window.location = href#}
{#                    // window.location = "http://127.0.0.1:8000/member/login/"#}
{#                },#}
{#                error: function (xhr, ajaxOptions, thrownError) {#}
{#                    alert(xhr.responseText)#}
{#                    // console.log(xhr.status)#}
{#                    // console.log(ajaxOptions)#}
{#                    // console.log(thrownError)#}
{#                }#}
{#            });#}
{##}
{#        });#}
{##}
{##}
{#    </script>#}
{#{% endblock %}#}
{##}



