{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} {% translate 'Password change' %} {% endblock %}

{% block pagenaiton_nav-menu %}
    <div style="margin-top: 240px;margin-bottom: 240px;">
        <li class="active">
            <a href="{% url 'order:list_orders' %}">
                <i class='bx bxs-archive-in'></i><span>{% translate 'My orders' %}</span>
            </a>
        </li>
        <li class="active ">
            <a href="{% url 'home' %}">
                <i class="bx bx-home"></i> <span>{% translate 'Home' %}</span>
            </a>
        </li>
        <li class="active">
            <a href="{% url 'basket:basket' %}">
                <i class='bx bx-basket'></i><span>{% translate 'Basket' %}</span>
            </a>
        </li>
    </div>
{% endblock %}

{% block content %}
    <section class="ftco-section min-vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    {#					<h2 class="heading-section">Login #01</h2>#}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="card p-4 p-md-5 " style="margin-top: 15vh">
                        <div class="icon d-flex align-items-center justify-content-center mb-2">
                            <img width="150px" src="{% static 'img/password.png' %}">
                        </div>
                        <h3 class="text-center mb-4">{% translate 'Password change' %}</h3>
                        <form action="#" id="login_form" class="login" method="post" value="{{ csrf_token }}">
                            <div class="form-group d-flex">
                                <input id="new_password1" type="password" class="form-control button"
                                       placeholder="{% translate 'New Password' %}" required>
                            </div>
                            <div class="form-group d-flex">
                                <input id="new_password2" type="password" class="form-control button"
                                       placeholder="{% translate 'New Password confirm' %}" required>
                            </div>
                            <div class="form-group">
                                <button id="login-submit" type="submit"
                                        class="form-control btn btn-primary button submit px-3">{% translate 'Submit' %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog ">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body text-center ">
                    <button type="button" class="close" data-dismiss="modal">×</button><br><hr>
                    <h4 id="error-message">{% translate 'Error' %}</h4>
                </div>

            </div>
        </div>
    </div>
    <a id="HOME" href="{% url 'home' %}" type=""> </a>
{% endblock %}

{% block CSS %}
    <link rel="stylesheet" href="{% static 'css/login/style.css' %}">
{% endblock %}

{% block script %}
    <script src="{% static 'js/login/jquery.min.js' %}"></script>
    <script src="{% static 'js/login/popper.js' %}"></script>
    <script src="{% static 'js/login/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/login/main.js' %}"></script>
    <script>
        // password change
        $("#login_form").submit(function (e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            let form = $(this);
            let url = form.attr('action');
            let csrf = form.attr('value');
            console.log('csrf');
            let new_password1 = $('#new_password1').val()
            let new_password2 = $('#new_password2').val()

            $.ajax({
                type: "POST",
                dataType: "json",
                data: {
                    'csrfmiddlewaretoken': csrf,
                    'new_password1': new_password1,
                    'new_password2': new_password2
                },
                url: "/api/rest-auth/password/change/",
                success: function () {
                    let href = $('#HOME').attr('href')
                    window.location = href
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#error-message').html(`${xhr.responseText}`)
                    $("#myModal").modal();
                    // alert(xhr.responseText)
                }
            });
        });

    </script>
{% endblock %}