{#{% extends 'base.html' %}#}
{% load static %}
{% load i18n %}
{##}
{#{% block title %}  {% endblock %}#}

{#{% block products %}#}

<!-- ======= Portfolio Section ======= -->
<section id="products" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>{% translate 'Porducts' %}</h2>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    {% for category in categories %}
                        <li data-filter=".{{ category }}">{{ category }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            {% for product in products_list %}

                <div class="col-lg-4 col-md-6 portfolio-item {{ product.category }}">
                    <div class="portfolio-wrap">
                        <img src="/media/{{ product.image_main }}" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h2>{{ product.name }}</h2>
                            <p>{{ product.category }}</p>
                            <div class="portfolio-links">
                                <a href="/media/{{ product.image_main }}" data-gall="productGallery" class="venobox"
                                   title="{{ product }}">
                                    <i class="bx bx-plus"></i>
                                </a>
                                <a href="{% url 'products:product_detail' product.id %}">
                                    <i class="bx bx-link"></i>
                                </a>

                                <a id="{{ product.id }}" onclick="basket_add(this.id)" class="disabled">
                                    <i class='bx bx-basket'></i>
                                </a>
                                {#                    <a href="{% url 'products:product_detail' product.id %}" data-vbtype="iframe" class="venobox" title="{{ product }}">#}
                                {#                      <i class="bx bx-link"></i>#}
                                {#                  </a>#}
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
        <div class="pagination d-flex justify-content-between mb-3">
            {% if products_list.has_previous %}
                <div class="p-5">
                    <a href="{% url 'products:show_products' %}?page=1">
                        <button type="button" class="btn btn-outline-primary" style="border-radius: 25px">
                            &laquo; {% translate 'first' %}
                        </button>
                    </a>
                    <a href="{% url 'products:show_products' %}?page={{ products_list.previous_page_number }}">
                        <button type="button" class="btn btn-outline-primary" style="border-radius: 25px;">
                            {% translate 'previous' %}
                        </button>
                    </a>
                </div>
            {% endif %}

            <div class="p-5">
                Page {{ products_list.number }} of {{ products_list.paginator.num_pages }}.
            </div>

            {% if products_list.has_next %}
                <div class="p-5">
                    <a href="{% url 'products:show_products' %}?page={{ products_list.next_page_number }}">
                        <button type="button" class="btn btn-outline-primary" style="border-radius: 25px; ">
                            {% translate 'next' %}
                        </button>
                    </a>
                    <a href="{% url 'products:show_products' %}?page={{ products_list.paginator.num_pages }}">
                        <button type="button" class="btn btn-outline-primary" style="border-radius: 25px;">
                            {% translate 'last' %} &raquo;
                        </button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    <script>
        // add basket
        function basket_add(product_id) {
            $.ajax({
                type: "GET",
                {#url: "/basket/?action=add&product_id=" + product_id,#}
                url: "/basket/add/?product_id=" + product_id,

                success: function () {
                    alert("added")
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText)
                }
            });
        };
    </script>


</section><!-- End Portfolio Section -->

<!-- ======= Services Section ======= -->

{#{% endblock %}#}
