{#{% extends 'base.html' %}#}
{% load static %}
{##}
{#{% block title %}  {% endblock %}#}

{#{% block products %}#}

<!-- ======= Portfolio Section ======= -->
    <section id="products" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Porducts</h2>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
                {% for category in categories %}
              <li data-filter=".{{ category }}">{{ category }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        {% for product in products %}

          <div class="col-lg-4 col-md-6 portfolio-item {{ product.category }}">
            <div class="portfolio-wrap">
              <img src="{{ product.image_main.url }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h2>{{ product.name }}</h2>
                <p>{{ product.category }}</p>
                <div class="portfolio-links">
                  <a href="{{ product.image_main.url }}" data-gall="productGallery" class="venobox" title="{{ product }}">
                      <i class="bx bx-plus"></i>
                  </a>
                  <a href="{% url 'products:product_detail' product.id %}" >
                      <i class="bx bx-link"></i>
                  </a>
{#                    <a href="{% url 'products:product_detail' product.id %}" data-vbtype="iframe" class="venobox" title="{{ product }}">#}
{#                      <i class="bx bx-link"></i>#}
{#                  </a>#}
                </div>
              </div>
            </div>
          </div>

        {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->

{#{% endblock %}#}