{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} Home {% endblock %}

{% block account_nav-menu %}
    <div style="margin-top: 70px;">
        {% if request.user.is_authenticated %}
            <li class="active">
                <a href="{% url 'customer_login' %}">
                    <i class='bx bxs-user-account'></i><span>{% translate 'Account' %}</span>
                </a>
            </li>
        {% else %}
            <li class="">
                <a href="#">
                    <i class='bx bxs-user-account'></i><span>{% translate 'Account' %}</span>
                </a>
            </li>
        {% endif %}
    </div>

{% endblock %}

{% block shop_nav-menu %}
    <div style="margin-bottom: 70px;">
        <li class="active">
            <a href="{% url 'basket:basket' %}">
                <i class='bx bx-basket'></i><span>{% translate 'Basket' %}</span>
            </a>
        </li>
    </div>
{% endblock %}

{% block pagenaiton_nav-menu %}
    <div style="margin-top: 200px;margin-bottom: 200px;">
        <li class="active ">
            <a href="#hero">
                <i class="bx bx-home"></i> <span>{% translate 'Home' %}</span>
            </a>
        </li>
        <li class="">
            <a href="#category">
                <i class="bx bx-server"></i> <span>{% translate 'Category' %}</span>
            </a>
        </li>
        <li class="">
            <a href="#products">
                <i class="bx bx-server"></i> <span>{% translate 'Product' %}</span>
            </a>
        </li>
        <li class="">
            <a href="#contact">
                <i class="bx bx-envelope"></i> <span>{% translate 'Contact' %}</span>
            </a>
        </li>
    </div>
{% endblock %}


<!-- ======= Hero Section ======= -->
{% block Hero %}
    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container" data-aos="zoom-in" data-aos-delay="100">
            <h1>{% translate 'My Store' %}</h1>
            <p>This store is
                <span class="typed"
                      data-typed-items="{% translate 'Designer' %}, {% translate 'Developer' %}, {% translate 'Freelancer' %}, {% translate 'Photographer' %}"></span>
            </p>
            <div class="social-links ">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </section>
{% endblock %}
<!-- End Hero -->

<!-- ======= category Section ======= -->
{% block category %}
    {% include 'product/category.html' %}
{% endblock %}
<!-- End category Section -->

<!-- ======= product Section ======= -->
{% block products %}
    {% include 'product/products.html' %}
{% endblock %}
<!-- End product Section -->

<!-- ======= Contact Section ======= -->
{% block Contact %}
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>{% translate 'Contact' %}</h2>
            </div>

            <div class="row mt-1">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="icofont-google-map"></i>
                            <h4>{% translate 'Location' %}:</h4>
                            <p>{% translate 'Takhti Street, Tehran, NY 535022' %}</p>
                        </div>

                        <div class="email">
                            <i class="icofont-envelope"></i>
                            <h4>{% translate 'Email' %}:</h4>
                            <p>info@example.com</p>
                        </div>

                        <div class="phone">
                            <i class="icofont-phone"></i>
                            <h4>{% translate 'Call' %}:</h4>
                            <p>+1 5589 55488 55s</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">

                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name"
                                       placeholder="{% translate 'Your Name' %}"
                                       data-rule="minlen:4" data-msg="Please enter at least 4 chars"/>
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="{% translate 'Your Email' %}" data-rule="email"
                                       data-msg="Please enter a valid email"/>
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject"
                                   placeholder="{% translate 'Subject' %}"
                                   data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject"/>
                            <div class="validate"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required"
                                      data-msg="Please write something for us"
                                      placeholder="{% translate 'Message' %}"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">{% translate 'Loading' %}</div>
                            <div class="error-message"></div>
                            <div class="sent-message">{% translate 'Your message has been sent. Thank you' %}!</div>
                        </div>
                        <div class="text-center">
                            <button type="submit">{% translate 'Send Message' %}</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </section>
{% endblock %}
<!-- End Contact Section -->
