{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}  {% endblock %}

{% block account_nav-menu %}
    <div style="margin-top: 90px;">
        {% if request.user.is_authenticated %}
            <li class="active">
                <a href="{% url 'customer_profile' request.user.id %}">
                    <i class='bx bxs-user-account'></i><span>{% translate 'Account' %}</span>
                </a>
            </li>
        {% else %}
            <li class="">
                <a href="#">
                    <i class='bx bxs-user-account'></i><span>{% translate 'Account' %}</span>
                </a>
            </li>
        {% endif %}
    </div>

{% endblock %}

{% block shop_nav-menu %}
    <div style="margin-bottom: 90px;">
        <li class="active">
            <a href="{% url 'customer_login' %}">
                <i class='bx bx-basket'></i><span>{% translate 'Basket' %}</span>
            </a>
        </li>
    </div>
{% endblock %}

{% block pagenaiton_nav-menu %}
    <div style="margin-top: 240px;margin-bottom: 240px;">
        <li class="active ">
            <a href="{% url 'products:show_products' %}">
                <i class="bx bx-home"></i> <span>{% translate 'Home' %}</span>
            </a>
        </li>
    </div>
{% endblock %}


{% block basket %}
    <section id="basket" class="portfolio section-bg" style="margin-bottom: 500px">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <img width="300px" style="margin-bottom: 4vh" src="{% static 'img/basket.svg' %}">
                <h2>Your Basket</h2>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="200">
                {% for item in basket %}
                    <div id="card-{{ item.id }}" class="col-lg-4 col-md-6 d-flex align-items-stretch ">
                        <div class="card mb-5">
                            <div class="card-img-top">
                                <img src="{{ item.image_main.url }}" class="img-thumbnail " alt="...">
                            </div>
                            <div class="card-body content">
                                <ul>
                                    <li>
                                        <strong>Product name:</strong>
                                        <a href="{% url 'products:product_detail' item.id %}">{{ item.name }}</a>
                                    </li>
                                    <li>
                                        <strong>Product price:</strong> {{ item.price }}
                                    </li>
                                    <li>
                                        <strong>Product name:</strong> {{ item.namer }}</li>
                                    <li>
                                        <strong>City:</strong> {{ customer.city }}
                                    </li>
                                </ul>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-7">
                                        <a id="{{ item.id }}" onclick="basket_remove(this.id)" style="color: red;">
                                            <button type="button" class="btn btn-outline-danger"
                                                    style="border-radius: 25px; ">
                                                <i class='bx bxs-trash'></i>
                                            </button>
                                        </a>
                                    </div>
                                    <div class="col-5">
                                        <strong>number :</strong> {{ products_num|get_item:item.id }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <div class="card mb-5">
                <div class="card-body content">
                    <ul>
                        <li>
                            <strong>number of items : </strong>{{ products_num|get_number_of_items }}
                        </li>
                        <li>
                            <strong>Total price of items :</strong>{{ price.get_total_price }}
                        </li>
                        <li>
                            <strong>Total discount of items:</strong>{{ price.get_discount }}
                        </li>
                    </ul>
                    <hr>
                    <p class="text-center">
                        Shipping cost will be calculated based on the address, time and method of your chosen shipment
                        and will be added to this amount.
                    </p>
                    <div class="pagination d-flex justify-content-between mb-3">
                        <div>
                            Total price : {{ price.get_total_price_after_discount }}
                        </div>
                        <div>
                            {% if request.user.is_authenticated %}
                                <a href="">
                                    <button type="button" class="btn btn-primary" style="border-radius: 25px;">
                                        Continue the buying process
                                    </button>
                                </a>
                            {% else %}
                                <a href="{% url 'customer_login' %}">
                                    <button type="button" class="btn btn-primary" style="border-radius: 25px;">
                                        Continue the buying process
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a id="BASKET" href="{% url 'basket:basket' %}" type=""> </a>

        <script>
            // remove basket
            function basket_remove(product_id) {
                $.ajax({
                    type: "GET",
                    {#url: "/basket/?action=add&product_id=" + product_id,#}
                    url: "/basket/remove/?product_id=" + product_id,

                    success: function () {
                        $('#card')
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText)
                        console.log(xhr.status)
                        console.log(ajaxOptions)
                        console.log(thrownError)
                    }
                });
            };
        </script>

    </section><!-- End products Section -->
{% endblock %}

