


{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}  {% endblock %}

{% block pagenaiton_nav-menu %}
    <div style="margin-top: 5vh;margin-bottom: 5vh;">
        <li class="active">
            <a href="">
                <i class='bx bxs-archive-in'></i><span>{% translate 'My orders' %}</span>
            </a>
        </li>
        <li class="active ">
            <a href="{% url 'home' %}">
                <i class="bx bx-home"></i> <span>{% translate 'Home' %}</span>
            </a>
        </li>
        <li class="active">
            <a href="{% url 'basket:basket' %}">
                <i class='bx bx-basket'></i><span>{% translate 'Basket' %}</span>
            </a>
        </li>
    </div>
{% endblock %}

{% block recent_orders %}
    <section id="orders" class="portfolio section-bg min-vh-100">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>{% translate 'Your orders history' %}</h2>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active" onload="hidden_visibity()"
                            onclick="hidden_visibity()">{% translate 'All' %}</li>
                        <li data-filter=".1" onclick="unhidden(1)">{% translate 'cancel' %}</li>
                        <li data-filter=".2" onclick="unhidden(2)">{% translate 'success' %}</li>
                        <li data-filter=".3" onclick="unhidden(3)">{% translate 'process' %}</li>
                        <li data-filter=".4" onclick="unhidden(4)">{% translate 'deliver' %}</li>
                        <li data-filter=".5" onclick="unhidden(5)">{% translate 'send' %}</li>
                        <li data-filter=".6" onclick="unhidden(6)">{% translate 'active' %}</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                {% for order in orders %}

                    <div class="col-lg-12 col-md-12 portfolio-item {{ order.order_base.status }}">
                        <div class="card mb-5">
                            <div class="card-body content">
                                <div class="row">
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <i class="icofont-rounded-right"></i>
                                        <strong>{% translate 'Order status' %} : </strong>
                                        {% if order.order_base.status == 1 %}
                                            {% translate 'cancel' %}
                                        {% elif order.order_base.status == 2 %}
                                            {% translate 'success' %}
                                        {% elif order.order_base.status == 3 %}
                                            {% translate 'process' %}
                                        {% elif order.order_base.status == 4 %}
                                            {% translate 'deliver' %}
                                        {% elif order.order_base.status == 5 %}
                                            {% translate 'send' %}
                                        {% elif order.order_base.status == 6 %}
                                            {% translate 'active' %}
                                        {% endif %}
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-xl-6 ">
                                        <i class="icofont-rounded-right"></i>
                                        <strong>{% translate 'Total price of order' %}
                                            : </strong>{{ order.get_total_cost }}
                                    </div>
                                </div>
                                <hr>
                                <div class="mb-3 d-flex justify-content-center">
                                    {% for item in order.order_items.all %}
                                        <div class="m-3">
                                            <a href="{% url 'products:product_detail' item.product.id %}">
                                                <img src="{{ item.product.image_main.url }}"
                                                     class="img-thumbnail "
                                                     alt="..."
                                                     width="170px">
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12 col-lg-9 col-xl-10">
                                        <i class="icofont-rounded-right"></i>
                                        <strong>{% translate 'Order registration date' %}
                                            : </strong>{{ order.order_base.created }}
                                    </div>
                                    <div class="col-md-12 col-lg-3 col-xl-2 text-center ">
                                        <a href="{% url 'order:detail_order' order.id %}">
                                            <button type="button" class="btn btn-light"
                                                    style="border-radius: 25px; ">
                                                {% translate 'More detail' %}
                                            </button>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                {% endfor %}
                {% for status in 6|get_range %}
                    <div id="{{ status }}">
                        {% if status|get_number_of_order:request.user.id == 0 %}
                            <div class="col-lg-12 col-md-12 portfolio-item {{ status }}">
                                <div class="card mb-5">
                                    <div class="card-body content">
                                        <div class="text-center" style="font-size: x-large">
                                            <div>
                                                <img width="75vm" style="margin-bottom: 4vh"
                                                     src="{% static 'img/not-found.png' %}">
                                            </div>
                                            {% translate "You don't have any order with this status" %}
                                        </div>
                                    </div>
                                </div>

                            </div>

                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                hidden_visibity();
            });

            function hidden_visibity() {
                var status = 1;
                for (var i = 0; i < 7; i++) {
                    $(`#${status + i}`).css('display', "none");
                }
            };

            function unhidden(status) {
                $(`#${status}`).css('display', "");
                //$(`#${status}`).css('margin-bottom', '400px');
            };

        </script>
    </section><!-- End orders Section -->

{% endblock %}