{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block account_nav-menu %}
    <div style="margin-top: 3vh">
        {% if request.user.is_authenticated %}
            <li class="active">
                <a href="{% url 'customer_profile' %}">
                    <i class='bx bxs-user-account'></i><span>{% translate 'Account' %}</span>
                </a>
            </li>
        {% else %}
            <li class="">
                <a href="#">
                    <i class='bx bxs-user-account'></i><span>{% translate 'Account' %}</span>
                </a>
            </li>
        {% endif %}
    </div>
{% endblock %}

{% block shop_nav-menu %}
    <div style="margin-bottom: 3vh;">
        <li class="active">
            <a href="{% url 'customer_login' %}">
                <i class='bx bx-basket'></i><span>{% translate 'Basket' %}</span>
            </a>
        </li>
    </div>
{% endblock %}

{% block pagenaiton_nav-menu %}
    <div style="margin-top: 5vh;margin-bottom: 5vh;">
        <li class="active ">
            <a href="{% url 'home' %}">
                <i class="bx bx-home"></i> <span>{% translate 'Home' %}</span>
            </a>
        </li>
    </div>
{% endblock %}


{% block order %}
    <section id="basket" class="portfolio section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <img width="300px" style="margin-bottom: 4vh" src="{% static 'img/order.png' %}">
                <h2>{% translate 'Order' %}</h2>
            </div>

            <div class="card mb-5">
                <div class="card-body content">
                    <h3>{% translate 'Address' %}</h3>
                    <ul>
                        <li>
                            <strong>{% translate 'Address' %} : </strong>{{ customer.address }}
                        </li>
                        <li>
                            <strong>{% translate 'Postal code' %} :</strong>{{ customer.postal_code }}
                        </li>
                        <li>
                            <strong>{% translate 'City' %} :</strong>{{ customer.city }}
                        </li>
                    </ul>
                    <div class="d-flex justify-content-between mb-3">
                        <div>
                            <i class='bx bx-user-circle' style='color:#005cbd'></i>
                            {{ customer.first_name }} {{ customer.last_name }}
                        </div>
                        <div>
                            <a href="{% url 'customer_profile_edit' %}">
                                <button type="button" class="btn btn-light">
                                    {% translate 'Change or edit the address' %}
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-5">
                <div class="card-body content">

                    <div class="mb-3 d-flex justify-content-between">
                        {% for item in basket %}
                            <div class="">
                                <a href="{% url 'products:product_detail' item.id %}">
                                    <img src="{{ item.image_main.url }}" class="img-thumbnail " alt="..." width="170px">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="d-flex justify-content-end">
                        <a href="{% url 'basket:basket' %}">
                            <button type="button" class="btn btn-light ">
                                {% translate 'Edit your backet' %}
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <hr>
            <div class="card mb-5">
                <div class="card-body content">
                    {% if request.session.cupon_id is none %}

                        {% if device.is_medium or device.is_xsmall or device.is_small %}

                            <form id="apply" class=" row " method="post" value="{{ csrf_token }}">
                                {% csrf_token %}
                                <div class=" col-md-12 col-lg-9 col-xl-10 text-center mt-3">
                                    <label for="cupon_id" class="mr-3">{% translate 'Please enter your cupon ' %}
                                        : </label>
                                    <input name="cupon_id" id="cupon_id" type="text" class="form-control-sm mr-3"
                                           style="border-radius: 25px" placeholder="{% translate 'Cupon ID' %}"
                                           required>
                                </div>
                                <div class=" col-md-12 col-lg-3 col-xl-2 text-center form-group mt-3">
                                    <button id="apply_cupon" type="submit"
                                            class="btn btn-light submit ">{% translate 'Apply cupon' %}
                                    </button>
                                </div>
                            </form>
                        {% else %}
                            <h1>{{ device.is_medium }}</h1>
                            <form id="apply" class="d-flex justify-content-between" method="post"
                                  value="{{ csrf_token }}">
                                {% csrf_token %}
                                <div class="form-check-inline col-9">
                                    {#                            <div class="row">#}
                                    <label for="cupon_id" class="mr-3">{% translate 'Please enter your cupon ' %}
                                        : </label>
                                    <input name="cupon_id" id="cupon_id" type="text" class="form-control-sm mr-3"
                                           style="border-radius: 25px" placeholder="{% translate 'Cupon ID' %}"
                                           required>
                                    {#                                </div>#}
                                </div>
                                <div class="form-group">
                                    <button id="apply_cupon" type="submit"
                                            style="border-radius: 25px;"
                                            class="form-control btn btn-primary submit ">{% translate 'Apply cupon' %}
                                    </button>
                                </div>
                            </form>
                        {% endif %}

                    {% else %}
                        <p class="text-center">
                            {% translate 'Your cupon has been applied' %}
                        </p>
                    {% endif %}
                    <hr>
                    <ul>
                        <li>
                            <strong>{% translate 'number of items' %} : </strong>{{ products_num|get_number_of_items }}
                        </li>
                        <li>
                            <strong>{% translate 'Total price of items' %} :</strong>{{ price.get_total_price }}
                        </li>
                        <li>
                            <strong>{% translate 'Total discount of items' %}:</strong>{{ price.get_discount }}
                        </li>
                    </ul>
                    <hr>
                    <p class="text-center">
                        {% translate 'Shipping cost will be calculated based on the address, time and method of your chosen shipment and will be added to this amount.' %}
                    </p>
                    <div class="row mb-3">
                        <div class="col-md-12 col-lg-7 col-xl-8">
                            {% translate 'Total price' %} : {{ price.get_total_price_after_discount }}
                        </div>

                    </div>
                </div>
            </div>
            <div class="text-center">
                {% if customer.address and customer.postal_code and customer.city %}
                    <a href="{% url 'order:order_create' %}">
                        <button type="button" class="btn btn-light">
                            {% translate 'Continue the buying process' %}
                        </button>
                    </a>
                {% else %}
                    <a onclick="alert_address()">
                        <button type="button" class="btn btn-light">
                            {% translate 'Continue the buying process' %}
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
    </section><!-- End products Section -->
    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog ">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body text-center ">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <br>
                    <hr>
                    <h4 id="error-message">{% translate 'Error' %}</h4>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script>
        // apply cupon
        $("#apply").submit(function (e) {
            e.preventDefault();
            let form = $(this);
            let cupon_id = $('#cupon_id').val();
            let csrf = form.attr('value');
            $.ajax({
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': csrf,
                    'cupon_id': cupon_id
                },
                url: '/order/apply_cupon/',

                success: function () {
                    location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#error-message').html(`${xhr.responseText}`)
                    $("#myModal").modal();
                    // alert(xhr.responseText)
                }
            });
        });

        function alert_address() {
            $('#error-message').html("You don't have address. ")
            $("#myModal").modal();
            // alert("You don't have address. ")
        };

        function alert_empty_basket() {
            $('#error-message').html("Your basket is empty. ")
            $("#myModal").modal();
            // alert("Your basket is empty. ")
        }
    </script>

{% endblock %}

